/* __________ GENERAL __________ */

main h1, main h2, main h3, main h4, main h5, main h6{
    font-family: var(--font-title-1);
    font-weight: 600;
}

main p{
    font-family: var(--font-paragraph);
    font-size: 6vw;
    text-align: justify;
}

.content{
    margin: 0px 3vw;
}

/* __________ TITULOS __________ */
.main-title{
    font-size: 8vw;
    margin: 2rem;
}

.sub-title{
    font-size: 6vw;
}

/* _________ CUALQUIER OTRA IMAGEN __________ */

.img-topic{
    max-width: 50rem;
    width: 100%;
}

/* __________ CONTENIDO _________ */
.flex-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-content img{
    padding: 2rem;
}

/* __________ HERO IMAGE ________- */

.hero-image__informativo{
    height: 50vh;
    background-image: url(../assets/img/informativo/hero-image.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-hero-img {
    width: 100%;
    padding-left: 10vw;
}

.text-hero-img span {
    max-width: 50rem;
    display: block;
    color: var(--color-white);
    font-family: var(--font-title-1);
    font-size: 10vw;
}

/* _________ MEDIA QUERIES __________ */

@media screen and (min-width: 576px) {
    main p{
        font-size: 2.5rem;
    }

    .main-title{
        font-size: 3.5rem;
    }

    .sub-title{
        font-size: 2.6rem;
    }

    .text-hero-img span {
        font-size: 5rem;
    }

    .text-hero-img__center{
    padding-left: 0;
    display: flex;
    justify-content: center;
} 

    .text-hero-img__center span{
        text-align: center;
    }


    .btn-foro {
        font-size: 2rem;
    }
}


@media screen and (min-width: 1200px){
    .content{
        margin: 0px 6vw;
    }

    .flex-content{
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    .flex-content p{
        padding: 2rem;
    }

    .flex-content a{
        display: flex;
    }

    .flex-content a img{
        width: 50rem;
        max-height: 50rem;
        flex-shrink: 2;
        padding: 2rem;
    }
}