.container-form{
    border-radius: 1rem;
    padding: 1rem 0 1rem 0;
    max-width: 768px;
}

.container-form h1{
    font-family: var(--font-title-2);
}

.container-form form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-data label, .input-data input, .input-data textarea{
    display: block;
}

.input-data{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 1rem 0 1rem 0;
}

.input-data label{
    width: 80%;
    margin: auto;
    font-size: 5vw;
    text-align: center;
}

.input-data input{
    width: 80%;
    margin: auto;
}

.input-data textarea{
    width: 80%;
    margin: auto;
    resize: vertical;
}

.container-btn-submit{
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.btn-submit__preguntas{
    width: 80%;
    font-size: 5vw;
    padding: 0.5rem 0 0.5rem 0;
}


/* ___________ MEDIA QUERIES ____________ */
@media screen and (min-width: 576px) {
    .container-form{
        margin: 2rem auto;
    }

    .container-form form{
        flex-direction: row;
    }

    .input-data{
        width: 50%;
    }

    .input-data:has(textarea), .container-btn-submit{
        width: 100%;
    }

    .input-data label, .btn-submit__preguntas{
    font-size: 2rem;
    }

    .input-data textarea{
        width: 90%;
    }
}
