<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>¿Que son los DDHH? - Foro Informativo</title>
  <link rel="shortcut icon" href="../assets/img/logo-primary-color.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/informativo.css">
  <link rel="stylesheet" href="../styles/foro.css">
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-white p-2">
      <!-- Contenedor Responsive -->
      <div class="container-navbar container-lg">
        <!-- Contenedor de Logotipo -->
        <div class="container-brand">
          <div class="container-img-brand">
            <a class="navbar-brand m-0" href="../index.html">
              <img src="../assets/img/logo-primary-color.svg" alt="Foro Informativo DDHH Colombia">
            </a>
          </div>
          <div class="text-brand d-none d-sm-block">
            <span>Foro Informativo</span>
            <span>DDHH Colombia</span>
          </div>
        </div>
        <!-- Boton desplegable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Indice de la pagina -->
        <div class="menu-nav navbar-collapse collapse p-3 text-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
            <div class="dropdown">
              <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                DDHH
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./intro-ddhh.html">¿Que son?</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./dificultades-ddhh.html">Dificultades en Colombia</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./organizaciones-ddhh.html">Organizaciones de DDHH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./educacion-ddhh.html">Educación y Concientización</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./participacion-ddhh.html">Participación</a>
                </li>
              </ul>
            </div>
            <a class="nav-link" href="./foro-social.html">Foro Social</a>
            <a class="nav-link" href="./preguntas.html">Haz Tu Pregunta </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="hero-image hero-image__foro">
      <div class="text-hero-img">
        <span>Hacer preguntas es el primer paso en el viaje hacia el conocimiento y la comprensión profunda.</span>
      </div>
      <div class="container-btn-foro">
        <a href="./preguntas.html" class="btns btn-foro">
          Haz Tu Pregunta
        </a>
      </div>
    </div>
    <hr>

  <div class="container-md container-preguntas">
    <h1 class="main-title center">Preguntas Comunidad</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <div class="accordion-logo">
              <span class="logo logo__educacion"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title">
                ¿Como se esta implementando la educación de los derechos humanos en las escuelas?
              </span>
              <span class="name-person">Carlos Barton</span>
            </div>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            Actualmente, en la educación de los derechos humanos en las escuelas se emplean diversas estrategias, tales como la inclusión en el currículo mediante cursos o asignaturas, la referencia a declaraciones y tratados internacionales, el uso de casos de estudio históricos y contemporáneos, métodos de aprendizaje activo como debates y simulaciones, charlas y talleres con expertos, recursos educativos variados, un enfoque multidisciplinario que abarca varias materias, la promoción del pensamiento crítico y el cultivo de actitudes empáticas y tolerantes. Estas medidas pueden variar según la región y el tiempo, pero en conjunto buscan desarrollar en los estudiantes una comprensión profunda de los derechos humanos y sus implicaciones en la sociedad.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="accordion-logo">
              <span class="logo logo__igualdad"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title">
                ¿Qué desigualdades étnicas hay en Colombia?
              </span>
              <span class="name-person">Leila Ellis</span>
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            En Colombia, existen desigualdades étnicas que han afectado a grupos como
            los indígenas y afrocolombianos. Estas desigualdades incluyen disparidades
            socioeconómicas en ingresos y acceso a oportunidades, luchas por la tierra y
            recursos, discriminación y estigmatización, impacto del conflicto armado en
            las comunidades étnicas, limitaciones en el acceso a educación y salud, desafíos
            en la representación política y participación, así como amenazas a la
            preservación cultural y patrimonial. Estas desigualdades han sido históricas
            y multifacéticas, aunque pueden haber evolucionado desde mi última
            actualización en 2021.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="accordion-logo">
              <span class="logo logo__trabajo"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title">
                ¿Por qué empezar en el lugar de trabajo a luchar contra la discriminación?
              </span>
              <span class="name-person">Ocean Herma</span>  
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            El entorno laboral constituye un punto estratégico fundamental para
            erradicar la discriminación en la sociedad. Cuando en dicho ámbito convergen
            individuos de diversas razas, géneros o edades y se les brinda un trato
            equitativo, emerge un sentimiento de objetivos compartidos que propician la
            disminución de estereotipos y prejuicios arraigados, los cuales son la
            esencia misma de la discriminación. La eliminación de la discriminación en
            el entorno laboral no solo fomenta la igualdad, sino que también contribuye
            a mitigar ciertas desventajas, como la reducción de disparidades educativas
            que a menudo surgen como consecuencia directa de prácticas discriminatorias.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="accordion-logo">
              <span class="logo logo__paz"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title">
                ¿Es cierto que las FARC no aportarán bienes para la reparación de las víctimas?
              </span>
              <span class="name-person">Cally Floyd</span>
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            Contrariamente a lo que se afirma, es incorrecto afirmar que las FARC se
            negaron a cumplir sus compromisos de reparación hacia las víctimas, que
            incluyen la restitución de bienes y recursos. Además de estas medidas
            materiales, la reparación implica la realización de gestos simbólicos como
            disculpas públicas, así como la ejecución de sanciones restauradoras como
            desminado, substitución de cultivos, restitución del entorno natural
            afectado y la reconstrucción de infraestructuras.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="accordion-logo">
              <span class="logo logo__libertad-expresion"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title ">
                ¿Cuáles son los límites de la libertad de expresión?
              </span>
              <span class="name-person">Bell Jimenez</span>
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            No existen libertades, derechos ni verdades absolutas. La libertad y los
            derechos alcanzan hasta el punto en que comienzan las libertades y derechos
            de los demás; de ahí que nadie posea la libertad para amenazar de muerte,
            asesinar, difamar, robar o mentir. Por ejemplo, el asesinato, la difamación
            y la mentira violan de manera evidente los derechos ajenos a la vida, la
            honra y la verdad. Por tanto, un ladrón no puede justificar su acto mediante
            el derecho al trabajo, ni un asesino puede reclamar el derecho a emplear sus
            armas, ni tampoco un calumniador puede ampararse en la libertad para manchar
            la reputación de otros con sus palabras. La libertad de prensa no se
            presenta como un derecho absoluto, ya que encuentra sus límites en los
            derechos de los demás.
          </p>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="accordion-logo">
              <span class="logo logo__derechos"></span>
            </div>
            <div class="accordion-title">
              <span class="sub-title">
                ¿Cuales son los deberes de quienes Gozan de sus derechos Humanos?
              </span>
              <span class="name-person">Sophia Yates</span>
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <p class="accordion-body">
            Quienes disfrutan de sus derechos humanos también tienen deberes
            correspondientes, como respetar los derechos de los demás, evitar el abuso
            de sus propios derechos, contribuir al bienestar de la sociedad, promover la
            justicia y la igualdad, obedecer las leyes y normas dentro de los límites de
            los estándares de derechos humanos, defender los derechos de los demás,
            participar en la vida cívica y democrática, fomentar la educación y la
            sensibilización sobre los derechos humanos. Estos deberes son esenciales
            para un ejercicio responsable de los derechos y para mantener un equilibrio
            en la convivencia social.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  </main>
  <footer>
    <div class="copyright">
      <p>
        Copyright © 2023 Todos los Derechos Reservados
      </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>