<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Que son los DDHH?</h1>
    <p>Los <strong>Derechos humanos</strong>> son principios que salvaguardan la dignidad de cada individuo. Estas normas orientan cómo las personas interactúan en sociedad y entre sí, así como las interacciones entre los ciudadanos y el Estado, incluyendo las responsabilidades que el Estado tiene hacia sus ciudadanos.</p>

    <h2>Derechos Huamnos Universales e inalineables</h2>
    <p>Los derechos humanos son de todos y para todos naide puede renunciar, ceder, ni revocar sus derechos y tampoco puede arrebatarselos a otras personas, El Estado debe y tiene que hacer cumplir los derechos humanos de sus conciudadanos.</p>

    <h2>Derechos Indivisibles</h2>
    <p>El disfrute pleno de un derecho depende del respeto y la protección de otros derechos. Los derechos civiles, políticos, económicos, sociales y culturales se entrelazan, y la violación de uno puede afectar la realización de otros. La Declaración Universal de Derechos Humanos establece que estos derechos deben ser tratados como un conjunto interdependiente para garantizar la dignidad y el bienestar de todas las personas.</p>

    <h2>Derechos humanos interdependientes e interrelacionados</h2>
    <p>Frecuentemente, la realización plena de un derecho está intrínsecamente ligada, ya sea en su totalidad o en parte, al respeto y ejercicio de otros derechos. Por ejemplo, garantizar el acceso efectivo al derecho a la salud puede encontrarse condicionado por el ejercicio adecuado del derecho a la educación o a la información. En consecuencia, estos derechos están interconectados y su respeto conjunto se traduce en un entorno propicio para el desarrollo pleno y la dignidad de todas las personas.</p>

    <h2>Derechos humanos Iguales y que no Discrminana</h2>
    <p>Cada individuo posee una igualdad innata como ser humano y debido a la dignidad inherente que le caracteriza. Cada ser humano tiene el derecho fundamental de gozar plenamente de sus derechos humanos, sin sufrir ningún tipo de discriminación basada en su raza, género, color, origen étnico, edad, idioma, creencias religiosas, opiniones políticas u otras características. Este principio de igualdad también abarca factores como el origen nacional o social, discapacidad, posición económica, circunstancias de nacimiento y cualquier otra condición que haya sido reconocida por los órganos establecidos en virtud de los tratados de derechos humanos. En síntesis, todos los individuos merecen respeto y acceso equitativo a sus derechos, sin excepciones.</p>

    <h2>La Participacion y la Inclusion</h2>
    <p>Cada individuo y cada comunidad gozan del legítimo derecho de contribuir, experimentar y tomar parte de manera activa y libre en el progreso de los ámbitos civil, político, económico, social y cultural. A través de este compromiso, se erige la plataforma desde la cual los derechos humanos y las libertades esenciales pueden alcanzar su plena vigencia. En este sentido, el desarrollo integral emerge como el cimiento sólido que posibilita la efectiva realización de estos derechos, brindando el espacio necesario para que florezcan y perduren en beneficio de toda la humanidad.</p>

    <h2>Rendicion de cuentas Y Estado de Derecho</h2>
    <p>Los Estados y otros entes responsables de salvaguardar los derechos tienen la obligación de acatar las normativas y los principios legales establecidos en los instrumentos de derechos humanos. En casos en los que este deber se ve incumplido, aquellos individuos cuyos derechos han sido afectados tienen el derecho de iniciar un proceso ante una corte competente u otra instancia judicial adecuada, con el fin de buscar una reparación justa y en conformidad con los procedimientos legales prescritos. Este enfoque garantiza la protección efectiva de los derechos vulnerados y mantiene la integridad del sistema de justicia establecido para su resguardo.</p>


</body>
</html>