<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Que son los DDHH? - Foro Informativo</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/informativo.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md bg-white p-2">
            <!-- Contenedor Responsive -->
            <div class="container-navbar container-lg">
                <!-- Contenedor de Logotipo -->
                <div class="container-brand">
                    <div class="container-img-brand">
                        <a class="navbar-brand m-0" href="../index.html">
                            <img src="../assets/img/logo-primary-color.svg"
                                alt="Foro Informativo DDHH Colombia">
                        </a>
                    </div>
                    <div class="text-brand d-none d-sm-block">
                        <span>Foro Informativo</span>
                        <span>DDHH Colombia</span>
                    </div>
                </div>
                <!-- Boton desplegable -->
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Indice de la pagina -->
                <div
                    class="menu-nav navbar-collapse collapse p-3 text-center"
                    id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page"
                            href="../index.html">Inicio</a>
                        <div class="dropdown">
                            <button
                                class="dropdown-toggle nav-link"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                DDHH
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="./intro-ddhh.html">¿Que son?</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./dificultades-ddhh.html">Dificultades en Colombia</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./organizaciones-ddhh.html">Organizaciones de DDHH</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./educacion-ddhh.html">Educación y Concientización</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./participacion-ddhh.html">Participación</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link" href="./foro-social.html">Foro Social</a>
                        <a class="nav-link" href="./preguntas.html">Haz Tu Pregunta </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="content">
            <h1 class="main-title center">¿Que son los Derechos Humanos?</h1>
            <br>
            <div class="flex-content">
                <p>
                    Los <strong>Derechos humanos</strong> son principios que salvaguardan la dignidad de cada individuo. Estas normas orientan cómo las personas interactúan en sociedad y entre sí, así como las interacciones entre los ciudadanos y el Estado, incluyendo las responsabilidades que el Estado tiene hacia sus ciudadanos.
                    <br><br>
                    Las bases de los derechos humanos universales, reflejadas en la legalidad, son resguardadas a través de acuerdos internacionales, principios legales y otras fuentes que nutren el tejido legal. Estamos comprometidos en garantizar que estos derechos sean honrados y respetados por igual. Los gobiernos, de acuerdo con el derecho internacional de los derechos humanos, cargan con la responsabilidad de promover y resguardar estos derechos y libertades básicas. Ya sea actuando en situaciones específicas o evitando ciertas acciones, el propósito es asegurar un entorno donde cada individuo y grupo pueda florecer en libertad y respeto.
                </p>
                <a href="https://www.freepik.com/" target="_blank" title="Designed by Freepik">
                    <img src="../assets/img/informativo/que-son-image.jpg" alt="¿Que son los derechos humanos?" class="img-topic">
                </a>
            </div>
            <br>
            <p>
                Te invitamos a explorar con nosotros la profundidad y relevancia de los derechos humanos. Únete a nuestra causa para convertirte en un defensor activo de la justicia y la dignidad. Juntos, construimos un futuro donde todos los derechos son sagrados y todas las voces son escuchadas.
            </p>
            
            <h2 class="main-title">Caracteristicas</h2>
            <h2 class="sub-title">Derechos Humano Universales e Inalineables</h2>
            <p>Los derechos humanos son de todos y para todos naide puede renunciar, ceder, ni revocar sus derechos y tampoco puede arrebatarselos a otras personas, El Estado debe y tiene que hacer cumplir los derechos humanos de sus conciudadanos.</p>
        
            <h2 class="sub-title">Derechos Indivisibles</h2>
            <p>El disfrute pleno de un derecho depende del respeto y la protección de otros derechos. Los derechos civiles, políticos, económicos, sociales y culturales se entrelazan, y la violación de uno puede afectar la realización de otros. La Declaración Universal de Derechos Humanos establece que estos derechos deben ser tratados como un conjunto interdependiente para garantizar la dignidad y el bienestar de todas las personas.</p>
        
            <h2 class="sub-title">Derechos humanos interdependientes e interrelacionados</h2>
            <p>Frecuentemente, la realización plena de un derecho está intrínsecamente ligada, ya sea en su totalidad o en parte, al respeto y ejercicio de otros derechos. Por ejemplo, garantizar el acceso efectivo al derecho a la salud puede encontrarse condicionado por el ejercicio adecuado del derecho a la educación o a la información. En consecuencia, estos derechos están interconectados y su respeto conjunto se traduce en un entorno propicio para el desarrollo pleno y la dignidad de todas las personas.</p>
        
            <h2 class="sub-title">Derechos humanos Iguales, sin discriminación</h2>
            <p>Cada individuo posee una igualdad innata como ser humano y debido a la dignidad inherente que le caracteriza. Cada ser humano tiene el derecho fundamental de gozar plenamente de sus derechos humanos, sin sufrir ningún tipo de discriminación basada en su raza, género, color, origen étnico, edad, idioma, creencias religiosas, opiniones políticas u otras características. Este principio de igualdad también abarca factores como el origen nacional o social, discapacidad, posición económica, circunstancias de nacimiento y cualquier otra condición que haya sido reconocida por los órganos establecidos en virtud de los tratados de derechos humanos. En síntesis, todos los individuos merecen respeto y acceso equitativo a sus derechos, sin excepciones.</p>
        
            <h2 class="sub-title">La Participacion y la Inclusión</h2>
            <p>Cada individuo y cada comunidad gozan del legítimo derecho de contribuir, experimentar y tomar parte de manera activa y libre en el progreso de los ámbitos civil, político, económico, social y cultural. A través de este compromiso, se erige la plataforma desde la cual los derechos humanos y las libertades esenciales pueden alcanzar su plena vigencia. En este sentido, el desarrollo integral emerge como el cimiento sólido que posibilita la efectiva realización de estos derechos, brindando el espacio necesario para que florezcan y perduren en beneficio de toda la humanidad.</p>
        
            <h2 class="sub-title">Rendición de cuentas y Estado de Derecho</h2>
            <p>Los Estados y otros entes responsables de salvaguardar los derechos tienen la obligación de acatar las normativas y los principios legales establecidos en los instrumentos de derechos humanos. En casos en los que este deber se ve incumplido, aquellos individuos cuyos derechos han sido afectados tienen el derecho de iniciar un proceso ante una corte competente u otra instancia judicial adecuada, con el fin de buscar una reparación justa y en conformidad con los procedimientos legales prescritos. Este enfoque garantiza la protección efectiva de los derechos vulnerados y mantiene la integridad del sistema de justicia establecido para su resguardo.</p>
        </div>
        <hr>
        <div class="hero-image hero-image__informativo">
            <div class="text-hero-img">
                <span>Fomentando Paz, Verdad y Justicia</span>
            </div>
            <div class="container-btn-foro">
                <a href="./foro-social.html" class="btn-foro">
                    Foro Social
                </a>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright">
            <p>
                Copyright © 2023 Todos los Derechos Reservados
            </p>
        </div>
    </footer>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>
</html>