<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizaciones de los Derechos Humanos - Foro Informativo</title>
    <link rel="shortcut icon" href="../assets/img/logo-primary-color.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/informativo.css">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md bg-white p-2">
            <!-- Contenedor Responsive -->
            <div class="container-navbar container-lg">
                <!-- Contenedor de Logotipo -->
                <div class="container-brand">
                    <div class="container-img-brand">
                        <a class="navbar-brand m-0" href="../index.html">
                            <img src="../assets/img/logo-primary-color.svg" alt="Foro Informativo DDHH Colombia">
                        </a>
                    </div>
                    <div class="text-brand d-none d-sm-block">
                        <span>Foro Informativo</span>
                        <span>DDHH Colombia</span>
                    </div>
                </div>
                <!-- Boton desplegable -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Indice de la pagina -->
                <div class="menu-nav navbar-collapse collapse p-3 text-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                        <div class="dropdown">
                            <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                DDHH
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="./intro-ddhh.html">¿Que son?</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./dificultades-ddhh.html">Dificultades en
                                        Colombia</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./organizaciones-ddhh.html">Organizaciones de
                                        DDHH</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./educacion-ddhh.html">Educación y
                                        Concientización</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./participacion-ddhh.html">Participación</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link" href="./foro-social.html">Foro Social</a>
                        <a class="nav-link" href="./preguntas.html">Haz Tu Pregunta </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
    <div class="content">
        <h1 class="main-title center">Organizaciones de los derechos Humanos</h1>
        <p>Las organizaciones de derechos humanos son entidades dedicadas a la promoción, defensa y protección de los
            derechos fundamentales de todas las personas. Estas organizaciones trabajan en diversas áreas y en diferentes
            niveles, desde el ámbito local hasta el internacional, para asegurar que los derechos humanos sean respetados y
            garantizados en todos los aspectos de la vida.</p>
    
        <h2 class="sub-title">Misión de Verificación de las Naciones Unidas (ONU)</h2>
        <p>
            La Misión de Verificación de las Naciones Unidas en Colombia es una Misión Política Especial establecida en 2016
            por el Consejo de Seguridad de la ONU para verificar la implementación del Acuerdo Final de Paz y ayudar a
            Colombia en su compromiso de poner fin al conflicto y construir la paz. <br>
            La Misión verifica la implementación de cinco puntos del Acuerdo Final de Paz de 2016 entre el Gobierno de
            Colombia y las FARC-EP. La Misión de la ONU apoya los esfuerzos de los colombianos para resolver los conflictos
            a través del diálogo y, en ese marco, verifica la implementación del alto el fuego entre el Gobierno y el
            Ejército de Liberación Nacional-ELN, también ordenado por el Consejo de Seguridad.
        </p>
    
        <h2 class="sub-title">Comisión Interamericana de Derechos Humanos</h2>
        <p>
            La CIDH es un órgano principal y autónomo de la Organización de los Estados Americanos (OEA) encargado de la
            promoción y protección de los derechos humanos en el continente americano. Está integrada por siete miembros
            independientes que se desempeñan en forma personal y tiene su sede en Washington, D.C.
        </p>
    
        <h2 class="sub-title">Instituto Popular de Capacitación</h2>
        <p>El Instituto Popular de Capacitación (IPC) es una institución de promoción popular que tiene vínculos con
            diversos sectores de la sociedad y lleva a cabo iniciativas de investigación, capacitación y formación, opinión
            pública, asesoría, consultoría, acompañamiento y promoción con comunidades (académicas, rurales, urbanas,
            solidarias y afines), movimientos sociales y políticos, medios de comunicación, como también con el Estado en
            sus diferentes escalas territoriales.</p>
    
        <h2 class="sub-title">Asociación Nacional de Usuarios Campesinos de Colombia</h2>
        <p> La Asociación Nacional de Usuarios Campesinos nació con el objetivo de inscribir a arrendatarios y aparceros
            para hacerlos propietarios, generar propuestas de crédito supervisado y asociativo, y convertirse en un canal
            entre los campesinos y el Estado para el fomento y utilización de los servicios que éste brindaba al agro
            colombiano.
            <br>
            Es una asociación de tercer grado, de derecho privado, sin ánimo de lucro, con carácter de confederación a
            través de la cual se agremian los campesinos de toda Colombia y se confederan las diferentes formas
            organizativas.
        </p>
    </div>
    <hr>
    <div class="hero-image hero-image__informativo">
        <div class="text-hero-img">
            <span>Fomentando Paz, Verdad y Justicia</span>
        </div>
        <div class="container-btn-foro">
            <a href="./foro-social.html" class="btns btn-foro">
                Foro Social
            </a>
        </div>
    </div>
    </main>
    <footer>
        <div class="copyright">
            <p>
                Copyright © 2023 Todos los Derechos Reservados
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>