<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Organizaciones de los derechos Humanos</h1>
    <p>Las organizaciones de derechos humanos son entidades dedicadas a la promoción, defensa y protección de los derechos fundamentales de todas las personas. Estas organizaciones trabajan en diversas áreas y en diferentes niveles, desde el ámbito local hasta el internacional, para asegurar que los derechos humanos sean respetados y garantizados en todos los aspectos de la vida.</p>

    <h2>UN VERIFCATION MISSION IN COLOMBIA (ONU)</h2>
    <p>
        La Misión de Verificación de las Naciones Unidas en Colombia es una Misión Política Especial establecida en 2016 por el Consejo de Seguridad de la ONU para verificar la implementación del Acuerdo Final de Paz y ayudar a Colombia en su compromiso de poner fin al conflicto y construir la paz. <br>
        La Misión verifica la implementación de cinco puntos del Acuerdo Final de Paz de 2016 entre el Gobierno de Colombia y las FARC-EP. La Misión de la ONU apoya los esfuerzos de los colombianos para resolver los conflictos a través del diálogo y, en ese marco, verifica la implementación del alto el fuego entre el Gobierno y el Ejército de Liberación Nacional-ELN, también ordenado por el Consejo de Seguridad.
    </p>

    <h2>Comision Interamericana de Derechos Humanos</h2>
    <p>
        La CIDH es un órgano principal y autónomo de la Organización de los Estados Americanos (OEA) encargado de la promoción y protección de los derechos humanos en el continente americano. Está integrada por siete miembros independientes que se desempeñan en forma personal y tiene su sede en Washington, D.C.
    </p>

    <h2>Instituto Popular de Capacitacion</h2>
    <p>El Instituto Popular de Capacitación –IPC- es una institución de promoción popular que tiene vínculos con diversos sectores de la sociedad y lleva a cabo iniciativas de investigación, capacitación y formación, opinión pública, asesoría, consultoría, acompañamiento y promoción con comunidades (académicas, rurales, urbanas, solidarias y afines), movimientos sociales y políticos, medios de comunicación, como también con el Estado en sus diferentes escalas territoriales.</p>

    <h2>Asociación Nacional de Usuarios Campesinos de Colombia</h2>
    <p> La Asociación Nacional de Usuarios Campesinos nació con el objetivo de inscribir a arrendatarios y aparceros para hacerlos propietarios, generar propuestas de crédito supervisado y asociativo, y convertirse en un canal entre los campesinos y el Estado para el fomento y utilización de los servicios que éste brindaba al agro colombiano.
        <br>
        Es una asociación  de tercer grado, de derecho privado, sin ánimo de lucro, con carácter de confederación a través de la cual se agremian los campesinos de toda Colombia y se confederan las diferentes formas organizativas.    </p>
</body>
</html>