<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Participación - Foro Informativo</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/informativo.css">
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-white p-2">
      <!-- Contenedor Responsive -->
      <div class="container-navbar container-lg">
        <!-- Contenedor de Logotipo -->
        <div class="container-brand">
          <div class="container-img-brand">
            <a class="navbar-brand m-0" href="../index.html">
              <img src="../assets/img/logo-primary-color.svg" alt="Foro Informativo DDHH Colombia">
            </a>
          </div>
          <div class="text-brand d-none d-sm-block">
            <span>Foro Informativo</span>
            <span>DDHH Colombia</span>
          </div>
        </div>
        <!-- Boton desplegable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Indice de la pagina -->
        <div class="menu-nav navbar-collapse collapse p-3 text-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
            <div class="dropdown">
              <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                DDHH
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./intro-ddhh.html">¿Que son?</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./dificultades-ddhh.html">Dificultades en
                    Colombia</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./organizaciones-ddhh.html">Organizaciones de
                    DDHH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./educacion-ddhh.html">Educación y
                    Concientización</a>
                </li>
                <li>
                  <a class="dropdown-item" href="./participacion-ddhh.html">Participación</a>
                </li>
              </ul>
            </div>
            <a class="nav-link" href="./foro-social.html">Foro Social</a>
            <a class="nav-link" href="./preguntas.html">Haz Tu Pregunta </a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="content">
      <h1 class="main-title center">La Participacion en los Derechos Humanos</h1>
      <p>
        La participación ciudadana desempeña un papel fundamental en la promoción
        y el impulso del cumplimiento de los derechos humanos en cualquier
        sociedad. Los derechos humanos son los pilares fundamentales que
        garantizan la dignidad, la igualdad y la libertad de todas las personas,
        independientemente de su origen, género, orientación sexual o cualquier
        otra característica. Sin embargo, para que estos derechos sean
        verdaderamente efectivos, es esencial que la sociedad en su conjunto
        participe activamente en su defensa y protección.
      </p>

      <h2 class="sub-title">¿Que es un foro social?</h2>
      <p>
        Un foro social es un espacio de encuentro, debate y colaboración en el que
        individuos, organizaciones y grupos de la sociedad civil se reúnen para
        discutir una amplia variedad de temas sociales, políticos, económicos y
        culturales. Estos foros buscan fomentar el diálogo y la interacción entre
        personas con diversas perspectivas y experiencias, con el objetivo de
        abordar desafíos globales y locales, promover la participación ciudadana y
        generar propuestas para un cambio social positivo.
        <br>
        Un foro social se erige como un poderoso catalizador para impulsar la
        participación y el compromiso en el ámbito de los Derechos Humanos. Al
        brindar un espacio inclusivo y abierto a la información, este tipo de
        plataforma fomenta el interes por los DDHH. El acceso a información
        diversa nutren el aprendizaje continuo. Los participantes pueden ampliar
        su horizonte, adquirir nuevos conocimientos y descubrir enfoques
        innovadores para abordar desafíos relacionados con la justicia social y la
        igualdad. En última instancia, un foro social fomenta la participación,
        creando una comunidad virtual activa a traves de la formulación de
        preguntas, con el fin sensibilizar y llegar a la acción colectiva, este
        tipo de plataforma se convierte en un agente impulsor de cambio,
        contribuyendo a la promoción y protección de los Derechos Humanos en
        Colombia y tambien en el Mundo.
      </p>
    </div>
    <hr>
    <div class="hero-image hero-image__informativo">
      <div class="text-hero-img">
        <span>Fomentando Paz, Verdad y Justicia</span>
      </div>
      <div class="container-btn-foro">
        <a href="./foro-social.html" class="btn-foro">
          Foro Social
        </a>
      </div>
    </div>
  </main>
  <footer>
    <div class="copyright">
      <p>
        Copyright © 2023 Todos los Derechos Reservados
      </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>
</body>

</html>